.participate{
    margin: 100px auto;
    .small-container{
        max-width: 1500px;
        padding-left: 10px;
        margin: auto;
        padding-right: 10px;
        .row{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            .col-2{
                flex-basis: 50%;
                min-width: 300px;
                text-align: center;
                img{
                    max-width: 100%;
                    padding: 50px;
                    height: 40vh;
                    filter: grayscale(50%);
                }
                img:hover{
                    filter: grayscale(0);
                }
                h4{
                    color: rgb(20, 157, 199);
                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }
    }
}