/*
.soon{
    background: #8a1a45;
    min-height: 80vh;
    position: relative;
    z-index: 0;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2{
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
    h2{
        top: 25%;
        left: 50%;
    }
    
}
*/