.videoarrange{
    background-image: url(/img/dogy_background.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 12vw 0;
    flex-direction: column;
    justify-content: space-around;
    .babyvideo{
        height: 24vw;
        display: grid; /* creates the grid */
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
        .prllx{
            overflow: hidden;
        }
        video{
            max-height: 100%;
        }
    }
}