* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Serif', serif;
}

.container {
  background-image: url(/img/violaMainPage_Edit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

.container .nav-container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.container .nav-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.container .nav-container .navbar nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.container .nav-container .navbar nav ul {
  display: inline-block;
  list-style-type: none;
}

.container .nav-container .navbar nav ul li {
  display: inline-block;
  margin-right: 5px;
  font-family: 'Modak', cursive;
  font-size: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row .col-2 {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  min-width: 300px;
  color: #149dc7;
  font-weight: 600;
}

.row .col-2 img {
  max-width: 100%;
  padding: 50px;
}

.row .col-2 h1 {
  font-size: 50px;
  line-height: 70px;
  margin: 20px 0;
  font-family: 'Princess Sofia', cursive;
}

.row .col-2 p {
  color: #20e0ee;
  font-size: 20px;
}

.btn {
  display: inline-block;
  background: #2b90e2;
  color: white;
  padding: 8px 30px;
  margin: 20px 0;
  border-radius: 30px;
  font-size: 30px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.btn:hover {
  background: turquoise;
}

a {
  text-decoration: none;
  color: #c813ec;
}

p {
  color: #555;
}

.categories {
  margin: 70px 0;
}

.categories .small-container {
  max-width: 1500px;
  padding-left: 10px;
  margin: auto;
  padding-right: 10px;
}

.categories .small-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.categories .small-container .row .col-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.categories .small-container .row .col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1500px;
  padding-left: 10px;
  margin: auto;
  padding-right: 10px;
}

.small-container .title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
  font-family: 'Princess Sofia', cursive;
}

.small-container .title::after {
  content: '';
  background: lightsalmon;
  width: 80px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.small-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.small-container .row .col-4 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.small-container .row .col-4 img {
  width: 100%;
}

.small-container .row .col-4 h4 {
  color: lightsalmon;
  font-weight: 900;
  font-size: 24px;
}

.small-container .row .col-4 .rating .fa {
  color: lightpink;
}

.small-container .row .col-4 p {
  font-size: 24px;
}

.small-container .row .col-4:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.offer {
  background: -webkit-gradient(linear, left top, right top, from(#3b0d32), color-stop(#300228), to(#520445));
  background: linear-gradient(to right, #3b0d32, #300228, #520445);
  margin-top: 80px;
  padding: 30px 0;
}

.offer .small-container {
  max-width: 1400px;
  padding-left: 10px;
  margin: auto;
  padding-right: 10px;
}

.offer .small-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.offer .small-container .row .col-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 10px;
  min-width: 400px;
  margin-bottom: 10px;
}

.offer .small-container .row video {
  height: 20vh;
}
/*# sourceMappingURL=style.css.map */