html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    font-family: 'Montserrat', sans-serif;

}
h1{
    font-size: 2.5rem;
    font-family: 'Lobster', cursive, sans-serif;
    font-weight: lighter;
}
h2{
    font-size: 8rem;
    font-family: 'Lobster', cursive, sans-serif;
    font-weight: lighter;
}
h3{
    font-size: 3.5rem;

}
h4{
    font-size: 3rem;
}
p{
    font-size: 2.5rem;
}
li{
    font-size: 2rem;
}
a{
    color: white;
    text-decoration: none;
}

@import "home";
@import "features";
@import "footer";
@import "videoarrange";

$ktrouble: 1600px; 
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
$miniphone:350px;

/*
@media screen and (min-width: $desktop) and (max-width: $ktrouble){
    .showcase{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: calc(1/2);
        video{
            flex-direction: column;
            z-index: 1;
            height: 200px;
            margin-bottom: 10%;
        }
        img{
            object-fit: contain;
            text-align: center;
            z-index: 0;
            width: 1200px;
            margin-bottom: 20%;
            
        }
        
    }
    
}
*/


@media screen and (max-width: $ktrouble){
    html{
        font-size: 50%;
        @media screen and (max-width: $phone){
            font-size: 20%;
        }

    }
    nav{
        @media screen and (max-width: $phone){
            overflow: hidden;
            flex: calc(1/4);
            display: inline-block;
            justify-content: center;
            align-items: center;
            margin-left: 2rem;
        }
        #logo{
            flex: 1;
        }
        ul{
            @media screen and (max-width: $phone){
                flex-direction: column;
                width: 100%;
                display: inline-block;
                justify-content: center;
                align-items: center;
            }
            
            li{
                margin-left: 5rem;
                @media screen and (max-width: $phone){
                    margin: 2rem;
                }
            }
        }
    }
    .showcase{
        grid-template-columns: 1fr;
        img{
            width: 100%;
            object-fit: contain;
            margin-bottom: 15%;
            @media screen and (min-width: $desktop) and (max-width: $ktrouble){
                margin-bottom: 27%;
            }
            @media screen and (min-width: $laptop) and (max-width: $desktop){
                margin-bottom: 42%;
            }
            @media screen and (min-width: $tablet) and (max-width: $laptop){
                margin-bottom: 79%;
            }
            @media screen and (max-width: $tablet){
                margin-bottom: 160%;
            }
            @media screen and (min-width: $miniphone) and (max-width: $phone){
                margin-bottom: 215%;
            }
            @media screen and (max-width: $miniphone){
                margin-bottom: 300%;
            }
        }

        
    }
    .features{
        align-items: center;
        margin-top: -20%;
        @media screen and (min-width: $desktop) and (max-width: $ktrouble){
            margin-top: -20%;
        }
        @media screen and (min-width: $laptop) and (max-width: $desktop){
            margin-top: -40%;
        }
        @media screen and (min-width: $tablet) and (max-width: $laptop){
            margin-top: -70%;
        }
        @media screen and (max-width: $tablet){
            margin-top: -120%;
        }
        @media screen and (min-width: $miniphone) and (max-width: $phone){
            margin-top: -190%;
        }
        @media screen and (max-width: $miniphone){
            margin-top: -290%;
        }
        h2{
            margin-top: 5rem;
        }
        .cards{
            flex-direction: column;
            width: 100%;
            @media screen and (max-width: $phone){
                flex-direction: column;
                width: 70%;
                flex: calc(1/4);
                display: inline-block;
                justify-content: center;
                align-items: center;
            }
            .card{
                margin: 5rem 0rem;
                @media screen and (max-width: $phone){
                    margin-top: 2rem;
                    margin-left: 2rem;
                }
            }
        }
    }
    video{
        flex-direction: column;
        float: left;
        z-index: 1;
        height: 200px;
        margin-bottom: 10%;
        @media screen and (min-width: $tablet) and (max-width: $laptop){
            height: 200px;
        }
        @media screen and (max-width: $tablet){
            height: 150px;
            float: right;
            justify-content: right;
        }
        @media screen and (max-width: $phone){
            height: 100px;
            float: right;
            justify-content: right;
        }
        @media screen and (max-width: $miniphone){
            margin-top: -30%;
        }
    }

    /*
    @media screen and (max-width: $phone){
        html{
            font-size: 20%;
    
        }
        nav{
            overflow: hidden;
            flex: calc(1/4);
            display: inline-block;
            justify-content: center;
            align-items: center;
            margin: auto;
            #logo{
                flex: 1;
                
            }
            ul{
                
                li{
                    font-size: 1rem;
                }
            }
        }
        .showcase{
            grid-template-columns: 1fr;
            img{
                width: 100%;
                object-fit: contain;
                margin-bottom: 40%;
            }            
    
            video{
                flex-direction: column;
                float: left;
                z-index: 1;
                height: 100px;
                margin-bottom: 10%;
                float: right;
                justify-content: right;
            }
        }
        .features{
            align-items: center;
            margin-top: -80%;
            
            
            h2{
                margin-top: 1rem;
            }
            .cards{
                flex-direction: column;
                width: 70%;
                flex: calc(1/4);
                display: inline-block;
                justify-content: center;
                align-items: center;
                .card{
                    margin: 1rem 0rem;
                }
            }
        }
    }

*/


    /*
    .soon{
        overflow: hidden;
        img{
            width: 60%;
        }
        h2{
            font-size: 5rem;
            text-align: center;
        }
    }
    */
    .info{
        align-self: center;
        z-index: 1;
        h3{
            padding-bottom: 3rem;
        }
    }

    footer{
        h1{
            flex: 1;
        }
    }
}