html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive, sans-serif;
  font-weight: lighter;
}

h2 {
  font-size: 8rem;
  font-family: 'Lobster', cursive, sans-serif;
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

.home {
  background-image: url("https://kontjerzy.github.io/Viola/img/dogy_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-container {
  background-image: url("https://kontjerzy.github.io/Viola/img/navigation2.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  z-index: 2;
}

nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  list-style: none;
}

nav ul li {
  margin-left: 3rem;
}

nav #logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  /* This part arranges the space in between the ul as ratio 
        The commends below arranges the circle. remove it if you want*/
  position: relative;
}

nav #logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  background: #b95166;
  border-radius: 50%;
  -webkit-transform: translate(-10%, -20%);
          transform: translate(-10%, -20%);
  mix-blend-mode: screen;
}

nav .order {
  padding: 1rem 2rem;
  background: #e997a8;
  border-radius: 2rem;
}

nav .logostylish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      align-self: center;
}

nav .logostylish img {
  height: 10%;
  width: 30%;
  z-index: 1;
  float: left;
  left: 1vw;
}

.showcase {
  display: -ms-grid;
  display: grid;
  min-height: 90vh;
  -ms-grid-columns: 10% (minmax(5rem, 1fr))[3] 10%;
      grid-template-columns: 10% repeat(3, minmax(5rem, 1fr)) 10%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.showcase h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.showcase img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
  top: 0%;
}

.features-container {
  background-image: url("https://kontjerzy.github.io/Viola/img/dogy_background.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  /*over-flow: hidden; */
}

.features-container .wave {
  position: absolute;
  left: 0;
  bottom: -15%;
  width: 100%;
  height: 40%;
  z-index: -1;
}

.features {
  min-height: 90vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

.features .cards .card {
  background: white;
  margin: 0rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
}

.features .cards .card h4 {
  margin: 3rem 0rem;
}

.features .cards .card p {
  padding: 2rem;
}

.features .cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  min-height: 10vh;
  background: #8a1a45;
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h1 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  z-index: 1;
}

.videoarrange {
  background-image: url("https://kontjerzy.github.io/Viola/img/dogy_background.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 12vw 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.videoarrange .babyvideo {
  height: 24vw;
  display: -ms-grid;
  display: grid;
  /* creates the grid */
  -ms-grid-columns: (max-content)[4];
      grid-template-columns: repeat(4, -webkit-max-content);
      grid-template-columns: repeat(4, max-content);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.videoarrange .babyvideo .prllx {
  overflow: hidden;
}

.videoarrange .babyvideo video {
  max-height: 100%;
}

/*
@media screen and (min-width: $desktop) and (max-width: $ktrouble){
    .showcase{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: calc(1/2);
        video{
            flex-direction: column;
            z-index: 1;
            height: 200px;
            margin-bottom: 10%;
        }
        img{
            object-fit: contain;
            text-align: center;
            z-index: 0;
            width: 1200px;
            margin-bottom: 20%;
            
        }
        
    }
    
}
*/
@media screen and (max-width: 1600px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1600px) and (max-width: 480px) {
  html {
    font-size: 20%;
  }
}

@media screen and (max-width: 1600px) and (max-width: 480px) {
  nav {
    overflow: hidden;
    -webkit-box-flex: calc(1/4);
        -ms-flex: calc(1/4);
            flex: calc(1/4);
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1600px) {
  nav #logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav ul li {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 1600px) and (max-width: 480px) {
  nav ul li {
    margin: 0;
  }
}

@media screen and (max-width: 1600px) {
  .showcase {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .showcase img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 1600px) and (min-width: 768px) and (max-width: 1024px) {
  .showcase img {
    margin-bottom: 35%;
  }
}

@media screen and (max-width: 1600px) and (max-width: 768px) {
  .showcase img {
    margin-bottom: 30%;
  }
}

@media screen and (max-width: 1600px) and (max-width: 480px) {
  .showcase img {
    margin-bottom: 20%;
  }
}

@media screen and (max-width: 1600px) {
  .showcase video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    float: left;
    z-index: 1;
    height: 200px;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 1600px) and (min-width: 768px) and (max-width: 1024px) {
  .showcase video {
    height: 150px;
  }
}

@media screen and (max-width: 1600px) and (max-width: 768px) {
  .showcase video {
    height: 120px;
    float: right;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

@media screen and (max-width: 1600px) and (max-width: 480px) {
  .showcase video {
    height: 100px;
    float: right;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

@media screen and (max-width: 1600px) {
  .features {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -20%;
  }
}

@media screen and (max-width: 1600px) and (min-width: 768px) and (max-width: 1024px) {
  .features {
    margin-top: -30%;
  }
}

@media screen and (max-width: 1600px) and (max-width: 768px) {
  .features {
    margin-top: -60%;
  }
}

@media screen and (max-width: 1600px) {
  .features h2 {
    margin-top: 5rem;
  }
  .features .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 1600px) and (max-width: 480px) {
  .features .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    -webkit-box-flex: calc(1/4);
        -ms-flex: calc(1/4);
            flex: calc(1/4);
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1600px) {
  .features .cards .card {
    margin: 5rem 0rem;
  }
}

@media screen and (max-width: 1600px) and (max-width: 480px) {
  .features .cards .card {
    margin-top: 2rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1600px) {
  /*
    @media screen and (max-width: $phone){
        html{
            font-size: 20%;
    
        }
        nav{
            overflow: hidden;
            flex: calc(1/4);
            display: inline-block;
            justify-content: center;
            align-items: center;
            margin: auto;
            #logo{
                flex: 1;
                
            }
            ul{
                
                li{
                    font-size: 1rem;
                }
            }
        }
        .showcase{
            grid-template-columns: 1fr;
            img{
                width: 100%;
                object-fit: contain;
                margin-bottom: 40%;
            }            
    
            video{
                flex-direction: column;
                float: left;
                z-index: 1;
                height: 100px;
                margin-bottom: 10%;
                float: right;
                justify-content: right;
            }
        }
        .features{
            align-items: center;
            margin-top: -80%;
            
            
            h2{
                margin-top: 1rem;
            }
            .cards{
                flex-direction: column;
                width: 70%;
                flex: calc(1/4);
                display: inline-block;
                justify-content: center;
                align-items: center;
                .card{
                    margin: 1rem 0rem;
                }
            }
        }
    }

*/
  /*
    .soon{
        overflow: hidden;
        img{
            width: 60%;
        }
        h2{
            font-size: 5rem;
            text-align: center;
        }
    }
    */
  .info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    z-index: 1;
  }
  .info h3 {
    padding-bottom: 3rem;
  }
  footer h1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=style.css.map */